<!DOCTYPE html>
<html ng-app="simplechain-app">
<head>
  <meta charset="UTF-8">
  <title>nikita-noark5</title>
  <script src="dependencies/internal/common.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/jquery/3.3.1-1/jquery.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/angularjs/1.7.0/angular.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="dependencies/internal/index.js"></script>

  <link href="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet" type="text/css">

  <link
    href="dependencies/vendor/META-INF/resources/webjars/font-awesome/5.0.9/web-fonts-with-css/css/fontawesome-all.css"
    rel="stylesheet" type="text/css">

</head>

<body ng-controller="BlockController">

<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand" href="https://nikita.hioa.no/simplechain">SimpleChain (BETA)</a>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
        <span class="fa fa-bars"></span>
      </a>
    </li>
  </ul>
</nav>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" ng-click="browseChainView()">Browse chain</a></li>
    <li class="breadcrumb-item"><a href="#" ng-click="downloadChainView()">Download chain</a></li>
  </ol>
</nav>

<div ng-show="filesView" class="card">
  <div class="container">
    <div class="row">
      <div class="col-md-4" ng-repeat="file in fileList | limitTo: 3">
        <div class="card" child>
          <div class="card-header">
            <h5 class="card-title">{{file.filename}}</h5>
          </div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Size: {{file.size}}</h6>
          </div>
          <div class="card-footer">
            <a ng-click="doDownloadChainFile(file)"
               class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="chainView" class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4" ng-repeat="block in blockList | limitTo: 3">
          <div class="card" child>
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                <li class="nav-item">
                  <a ng-click="doLoadBodyView(block)" class="nav-link active"
                     ng-class="{ active: block.showBody}">Body</a>
                </li>
                <li class="nav-item">
                  <a ng-click="doLoadHeaderView(block)" class="nav-link"
                     ng-class="{ active: block.showHeader}">Header</a>
                </li>
                <a ng-click="doLoadChecksumView(block)" class="nav-link"
                   ng-class="{ active: block.showChecksum}">{{block.checksum | limitTo:6 }}</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div ng-show="block.showBody" class="tab-content" id="bodyContent">
                <div class="tab-pane fade show active" id="bodyContent1" role="tabpanel"
                     aria-labelledby="homebody">
                  {{block.body}}
                </div>
              </div>
              <div ng-show="block.showHeader" class="tab-content" id="headerContent">
                <div class="tab-pane fade show active" id="headerContent1" role="tabpanel"
                     aria-labelledby="header">
                  {{block.header}} <br> <br> ({{block.createdDate}})
                </div>
              </div>
              <div ng-show="block.showChecksum" class="tab-content" id="checksumContent">
                <div class="tab-pane fade show active" id="checksumContent1" role="tabpanel"
                     aria-labelledby="checksum">
                  {{block.checksum}}
                </div>
              </div>
            </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-4" ng-repeat="link in block.links | filter: {'rel': 'previous-block'}">
                  <a ng-show="block.index == '0'" ng-click="previousBlockSelected(block.links)"
                     class="btn btn-primary">Previous</a>
                </div>
                <div class="col-md-4">
                  &nbsp;
                </div>
                <div class="col-md-4" ng-repeat="link in block.links | filter: {'rel': 'next-block'}">
                  <a ng-show="block.index == '2'" ng-click="nextBlockSelected(block.links)"
                     class="btn btn-primary">Next</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
